.wrapper
  = render 'shared/head'
  .q-index-main
    .q-i-main-head
      %p Agenda
      .q-create-bottun
        = link_to new_question_path do
          New Question
    .questions
      - @questions.each do |question|
        .question
          .question__content
            = question.title
          .question__answer
            = link_to new_question_vote_path(question) do
              Vote
          .question__result
            = link_to question_path(question), method: :get do
              Result
  = render 'shared/foot'

