.wrapper
  = render 'shared/head'
  .q-index-main
    .q-i-main-head
      %p Agenda
      .q-create-bottun
        = link_to new_question_path do
          New Question
    .questions
      - @questions.each do |q|
        .question
          .question__content
            = q.title
          .question__answer
            = link_to  do
              Answer
          .question__result
            = link_to "#" do
              Result
  = render 'shared/foot'

