.wrapper
  = render 'shared/head'
  .new
    form
  .new-form
    = form_for @question do |f|
      .form-question
        %label.form-question-head
          Question
        .form-question-input
          = f.text_field :title, class: "default-form", placeholder: "a"
      .form-option
        %label.form-option-head
          Option
        .form-option-input
          #option-box
            = f.fields_for :options do |op|
              = render 'option_fields', f: op
              .links
                = link_to_add_association '+', f, :options
      .form-submit
        = f.submit 'create', class: "default-submit"