.wrapper
  = render 'shared/head'
  .q-show-main
    .q-show-main__head
      %label Q.
      = @question.title
      %p Result
    .q-show-main__contents
      -# 投票されていない場合のエラーの回避（@vote_result空かどうか）
      - if @vote_result.blank?
        %ul.show-error
          回答されていません
          - @option.each do |o|
            %li.option-result
              = o.title
              %span :
              0
              %span %
      - else
        %ul.q-show-main__contents__detail
          - @option.each do |o|
            %li.option-result
              = o.title
              %span :
              = Vote.where(question_id: @question, option_id: o).count * 100 / @votes_sum 
              %span %
          解答された回数:
          = @votes_sum
          %br/
        .q-show-main__contents__graph
          = pie_chart @vote_result
    .q-show-main__delete
      - if user_signed_in?
        = link_to question_path(@question), method: :delete, data: {confirm: "[Q.#{@question.title}] Do you delete?"} do
          Delete this Question 