.wrapper
  = render 'shared/head'
  .q-show-main
    .q-show-main__head
      %label Q.
      = @question.title
      %p Result
    .q-show-main__graph
    %ul.q-show-main__detail
      - @option.each do |o|
        %li.option-result
          = o.title
          %span :
          = Vote.where(question_id: @question, option_id: o).count * 100 / @votes_sum 
          %span %
      選択肢の数:
      = @count
      解答された回数:
      = @votes_sum
      %br/
      = @vote_result.keys
      = @vote_result.values
      